.container-perfil-screen{
    width: 100%;
    height: 100vh;
}

.perfil-usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
}

.dados-usuario{
    margin-left: 20px;
}

.imagem-perfil{
    width: 200px;
    height: 200px;
}

.botao-logout{
    margin: 20px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(162, 119, 201);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.postagens-usuarios{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 50px;
}

.boteos-perfil{
    display: flex;
    flex-direction: column;
}